node_modules/
.expo/
.expo-shared/
dist/
web-build/
.firebase/
build/

android/
ios/

yarn.lock
yarn-error.log
npm-debug.log*

.env*
.env.local
.env.*.local

*.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store
